.index-view {
    height: 100vh;

    &>header {
        background-color: rgba(255, 255, 255, 0.85);
        box-shadow: 0 0 6px 0px grey;
        position: relative;

        &>h2 {
            font-size: 20px;
            line-height: 50px;
            padding-left: 60px;
            background-image: url("../../images/logo.png");
            background-repeat: no-repeat;
            background-position: 10px center;
            background-size: auto 80%;
            font-family: cursive;
        }

        &>nav {
            position: fixed;
            right: 0;
            top: 0;
            line-height: 50px;

            &>a {
                margin-right: 20px;
                color: #2196F3;
                font-size: 14px;
                text-decoration: underline;

                &:hover {
                    font-weight: 800;
                }
            }
        }
    }

    &>.content {
        display: flex;
        height: calc(100% - 50px);

        &>div {
            overflow: auto;

            &.nav {
                flex-basis: 200px;
                flex-shrink: 0;
                background-color: white;
                padding: 10px 0;

                &>h4 {
                    line-height: 45px;
                    height: 45px;
                    color: rgb(110, 112, 121);
                    padding-left: 50px;
                    font-weight: 200;
                    background-size: 20px auto;
                    background-repeat: no-repeat;
                    background-position: 20px center;
                    cursor: pointer;

                    &:hover {
                        border-left: 3px solid rgb(84, 112, 198);
                        background-color: rgba(193, 191, 191, 0.33);
                    }

                }
            }

            &.menu {
                flex-grow: 1;
                padding: 30px;
                background-color: #f3f4fa;

                &>div {
                    &>h4 {
                        margin-bottom: 20px;
                        padding-bottom: 10px;
                        font-weight: normal;
                        color: rgb(70, 70, 70);
                        font-size: 20px;
                        border-bottom: 1px solid rgb(225, 229, 242);

                        &>span {
                            font-size: 16px;
                            padding-left: 5px;
                            color: rgb(148, 156, 177);
                            font-weight: 200;
                        }
                    }

                    &>ul {
                        &>li {
                            display: inline-block;
                            margin-bottom: 10px;
                            padding: 0 10px;

                            &:hover {
                                text-decoration: underline;

                                &>div {
                                    background-size: 110% auto;
                                }

                                &>h6 {
                                    font-weight: 400;
                                }
                            }

                            &>div {
                                width: 175px;
                                height: 133px;
                                background-position: center center;
                                background-size: 100% auto;
                                background-repeat: no-repeat;
                                cursor: pointer;
                                transition: 0.3s ease-in-out;
                                border-radius: 5px;
                                box-shadow: 0 0 20px rgb(0 0 0 / 5%);

                            }

                            &>h6 {
                                text-align: center;
                                line-height: 40px;
                                font-size: 14px;
                                font-weight: 200;
                            }
                        }
                    }
                }
            }
        }
    }
}